# Byte-compiled / optimized / DLL files
__pycache__/

# IDEs
.vscode/

# Libraries
*.so
*.dylib

# Executables
testsuite

# Module files
*.mod

# OS files
.DS_Store

# Distribution / packaging
build/
*.egg-info/
